<div class="hero">
    <img src="../../../../assets/images/perfil.jpg" alt="perfil">
</div>
<nav>
    <img class="background-arrow" src="../../../../assets/images/verticalArrow.png" alt="arrow">
    <ul>
        <li>
            <a routerLink="home" routerLinkActive="active">
                <span>HOME</span>
                <img src="../../../../assets/icons/chimenea-de-la-casa-b.svg" alt="" >
            </a>
        </li>
        <li>
            <a routerLink="about-me" routerLinkActive="active">
                <span>ABOUT ME</span>
                <img src="../../../../assets/icons/hombre-empleado-alt-b.svg" alt="" >
            </a>
        </li>
        <li>
            <a routerLink="resume" routerLinkActive="active">
                <span>RESUME</span>
                <img src="../../../../assets/icons/verificacion-resumida-b.svg" alt="" >
            </a>
        </li>
        <li>
            <a routerLink="portfolio" routerLinkActive="active">
                <span>PORTFOLIO</span>
                <img src="../../../../assets/icons/maletin-en-blanco-b.svg" alt="" >
            </a>
        </li>
        <li>
            <a routerLink="testimonials" routerLinkActive="active">
                <span>TESTIMONIALS</span>
                <img src="../../../../assets/icons/megafono-b.svg" alt="" >
            </a>
        </li>
        <li>
            <a routerLink="contact" routerLinkActive="active">
                <span>CONTACT</span>
                <img src="../../../../assets/icons/puntos-de-comentario-b.svg" alt="" >
            </a>
        </li>
    </ul>
</nav>