<section class="about-me">
  <h1 class="title">ABOUT ME</h1>
  <div class="description">
    <h2 class="subtitle">I'm <span>Angel Gaitan,</span> Graphic Designer / Photographer</h2>
    <p>I'm a passionate software engineer with a strong focus on delivering high-quality products. I have a solid understanding of computer science fundamentals and software development life cycles. Proficient in a range of programming languages, with experience in team collaboration and agile development methodologies. Always looking for ways to improve my skills and stay up to date with the latest technologies and industry trends.</p>
  </div>
  <div class="row">
      <div class="square-container">
        <div class="square">
          <span>15+</span>
          <h4>Years of Experience</h4>
        </div>
        <div class="square">
          <span>100+</span>
          <h4>Happy Clients</h4>
        </div>
        <div class="square">
          <span>50+</span>
          <h4>Projects Completed</h4>
        </div>
        <div class="square">
          <span>10+</span>
          <h4>Awards Won</h4>
        </div>
      </div>
      <div class="what-i-do">
        <h3 class="title-wid">
          What I Do?
        </h3>
        <div class="wid-container">
          <div class="wid-card">
            <img src="" alt="">
            <div class="colum-wid">
              <h4>Graphic Designer</h4>
              <p>Diseño paginitas a todo el mundo que le interesa invertir en el mundo de la tecnologia</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>