<section class="about-me">
  <h1 class="title">{{ data.title }}</h1>
  <div class="description">
    <h2 class="subtitle" [innerHTML]="data.subtitle"></h2>
    <p>{{ data.description }}</p>
  </div>
  <div class="row">
      <div class="square-container">
        <div class="square">
          <span>15+</span>
          <h4>{{ data.metrics.experience }}</h4>
        </div>
        <div class="square">
          <span>100+</span>
          <h4>{{ data.metrics.clients }}</h4>
        </div>
        <div class="square">
          <span>50+</span>
          <h4>{{ data.metrics.projects }}</h4>
        </div>
        <div class="square">
          <span>10+</span>
          <h4>{{ data.metrics.awards }}</h4>
        </div>
      </div>
      <div class="what-i-do">
        <h3 class="title-wid">{{ data.whatIDo.title }}</h3>
        <div class="wid-container">
          <div class="wid-card" *ngFor="let service of data.whatIDo.services">
            <img [src]="service.icon" [alt]="service.title">
            <div class="colum-wid">
              <h4>{{ service.title }}</h4>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
