<section class="resume">
    <h1 class="title">RESUME</h1>
    <div class="container">
        <div class="education">
            <h2>Education</h2>
            <div class="education-items">

                <div class="education-item" *ngFor="let education of educations">
                    <span class="year">{{education.year}}</span>
                    <h3>{{education.title}}</h3>
                    <p>{{education.description}}</p>
                </div>
            </div>
                
        </div>
        <span class="divider"></span>
        <div class="experience">
            <h2>Experience</h2>
            <div class="experience-items">

                <div class="experience-item" *ngFor="let experience of experiences">
                    <span class="year">{{experience.year}}</span>
                    <h3>{{experience.title}}</h3>
                    <p>{{experience.description}}</p>
                </div>
            
            </div>
        </div>
    </div>
</section>