<section class="home">
    <div class="info">
        <span class="greeting">HI THERE!</span>
        <h1 class="title">I'M <span>ANGEL</span></h1>
        <p class="subtitle">Software Engineer</p>
        <p class="description">I am a passionate software engineer with a strong focus on delivering high-quality products. I have a solid understanding of computer science fundamentals and software development life cycles. Proficient in a range of programming languages, with experience in team collaboration and agile development methodologies. Always looking for ways to improve my skills and stay up to date with the latest technologies and industry trends.</p>
        <button (click)="goToAboutMe()">More About Me</button>
    </div>
    <div class="hero">
        <img src="../../../assets/images/perfil.jpg" alt="profile">
    </div>
</section>